# Node modules directory
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.CLOUDINARY_CLOUD_NAME
.env.CLOUDINARY_API_SECRET
.env.CLOUDINARY_API_KEY

# Directory for environment-specific configurations
.config/

# Build output directories
dist/
build/

# Coverage directory used by testing tools
coverage/

# IDE and editor specific files
.DS_Store
.idea/
.vscode/
*.swp

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Debugger configurations and output files
.vscode/launch.json
*.log

# Mac OS specific files
*.DS_Store

# Ignore lockfiles (optional, based on preference)
package-lock.json
yarn.lock
